<section class="mt-5 flex justify-center flex-col items-center">
<div class="container mx-auto">
<div class="flex justify-between">
<h1 class="text-6xl text-blue-700 py-4"> <%= @whistle.title%></h1>



<div class="flex justify-between">
                            <%= link_to like_whistle_path(@whistle), method: :put, class: " h-4 text-indigo-500 m-2" do %>
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      Like
      <%= @whistle.get_upvotes.size %>
      <% end %>

      <%= link_to dislike_whistle_path(@whistle), method: :put, class: "h-4 text-indigo-500 m-2" do %>
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
      Dislike
      <%= @whistle.get_downvotes.size %>
       <% end %>
</div>
</div>
<hr class="w-full">

<div class="container mx-auto py-6"> 

   <%= image_tag(@whistle.cover_image.url, alt: "Cover Image", class: "w-full object-cover  h-3/5 md:rounded") %>
        
</div>
<p class="px-5 py-4"> <%= @whistle.content%> </p>
</div>
</section>
<br>
<section class="mt-4">
	<div class="container mx-auto">
		<h2 class="mb-4 text-lg font-semibold text-gray-900"><strong><%= @whistle.comments.count %></strong> Comments</h2>
		<% if @whistle.comments.count > 0 %>
    <%= render @whistle.comments %>
    <% end %>
    <br>
		<div class="comment-form">
			<hr />
			<h3 class="px-3 py-11 text-blue-400">Comment as <%= current_user.fullname %></h3>
	 		<%= render 'comments/form' %>
		</div>
	</div>
</section>

